/* black: #2b2b2b */

/* main blue: #54A0C7 */
/* secondary blue: #3f748e */
/* light grey #636363 */

/* main green: #6aaa5d */
/* secondary green: #628461 */
/* third green: #7f9570 */

/* remove default styles */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* common styles */
* {
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none !important;
}

.container {
  display: flex;
  margin: 0 auto;
  margin-top: 32px;
  padding: 24px;
}

.intersection-container {
  width: 600px;
  margin-right: 32px;
}

/* intersection styles */
.intersection-wrapper {
  display: flex;
}

.intersection,
.intersection-plus {
  background-color: #2b2b2b;
  color: #ffffff;
  cursor: pointer;
}

.intersection-plus:hover {
  background-color: #3f748e;
}

.intersection-plus-selected {
  background-color: #3f748e;
}

.intersection {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 16px;
}

.intersection:hover {
  background-color: #54a0c7;
}

.intersection-plus {
  width: 60px;
}

.intersection-selected {
  background-color: #54a0c7;
}

/* approach styles */
.approach-children {
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  padding: 16px;
  color: #ffffff;
  background-color: #636363;
}

.approach-children:hover {
  background-color: #6aaa5d;
}

.approach-selected {
  background-color: #6aaa5d;
}

.approaches-container {
  display: flex;
}

.approach-item-container {
  display: flex;
}

.approaches-side {
  width: 24px;
  background-color: #3f748e;
}

.approaches-wrapper {
  flex-grow: 1;
}

.approach-name-number {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.approach-plus-minus {
  width: 32px;
}

.approach-map-icon {
  color: #ffffff;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #636363;
}

/* departure styles */
.departures-container {
  display: flex;
}

.departures-side {
  width: 24px;
  background-color: #628461;
}

.departures-list {
  flex-grow: 1;
}

.departure-item {
  display: flex;
  padding: 16px;
  background-color: #7f9570;
  color: #ffffff;
}

.departure-name {
  flex-grow: 1;
}

.departure-volume {
  text-align: center;
  width: 96px;
}

.departure-percent {
  width: 32px;
}

/* graphic styles */
.graphic-container {
  margin-top: 48px;
  margin-bottom: 48px;
}
.graphic-top-container,
.graphic-middle-container,
.graphic-bottom-container {
  display: flex;
}

.graphic-top-left,
.graphic-top-right,
.graphic-bottom-left,
.graphic-bottom-right {
  width: 225px;
}

.graphic-top-road-left,
.graphic-top-road-right,
.graphic-bottom-road-left,
.graphic-bottom-road-right {
  width: 75px;
}

.graphic-middle-left,
.graphic-middle-right {
  height: 150px;
  width: 225px;
}

.graphic-middle-road {
  height: 150px;
  width: 150px;
}

/* top container */
.graphic-top-left,.graphic-top-road-right, .graphic-top-right {
 height: 180px;
}
.graphic-top-left {
  border-right: 10px solid rgba(0, 255, 0, 0.6);
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);;
  border-bottom-right-radius: 24px;
}

.graphic-top-road-right {
  border-left: 2px dashed black;
}

.graphic-top-right {
  border-left: 10px solid rgba(0, 255, 0, 0.8);
  border-bottom: 10px solid rgba(0, 255, 0, 1.0);
  border-bottom-left-radius: 24px;
}

/* middle container */
.graphic-middle-left, .graphic-middle-right {
  height: 150px;
}

.graphic-middle-top-road, .graphic-middle-bottom-road {
 height: 75px;
}

.graphic-middle-top-road {
  border-bottom: 2px dashed black;
}

/* bottom container */
.graphic-bottom-container {
  height: 180px;
}

.graphic-bottom-left {
  border-top: 10px solid rgba(230, 230, 0, 1);
  border-right: 10px solid rgba(255, 0, 0, 1);
  border-top-right-radius: 24px;
}

.graphic-bottom-road-right {
  border-left: 2px dashed black;
}

.graphic-bottom-right {
  border-top: 10px solid rgba(255, 0, 0, 0.6);
  border-left: 10px solid rgba(255, 0, 0, 1);
  border-top-left-radius: 24px;
}